/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #242526;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.para {
  text-align: center;
  color: #fff;
}

.buttonContainer {
  margin-top: 40px;
}

.gettingStartedButton {
  font-size: 16px;
  font-weight: 600;
  color: #242526;
  
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #4fe89a;

  transition: ease-in-out 0.3s;
}

.gettingStartedButton:hover {
  background-color: #2e2f30;
  text-decoration: none;
}